.user-info {
    max-width: 400px;
    margin: 50px auto; /* Центрування по горизонталі */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.label {
    font-weight: bold;
    color: #555;
}

p {
    margin: 10px 0;
    font-size: 16px;
}

.user-info p {
    display: flex;
    align-items: center;
}

.user-info .label {
    flex: 0 0 40%;
    text-align: right;
    margin-right: 10px;
}

.user-info p span {
    flex: 1;
}